.search-box, .flavor-group, .instruction{
    margin: 20px 40px;
}
.search-icon, .search-label, .search-input, .check-box-group{
    display: inline-block ;
}
.search-label, .flavor-label, .instruction{
    font-size: 18px;
    font-weight: bold;
}
.search-input{
    border: 1px solid black;
    box-shadow: 2px slategray;
}
.loader {
    width: 100%;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
}